<section class="bg-primary" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto text-center">
				<h2 class="section-heading text-white">Michael Olie</h2>
				<hr class="light">
				<p class="text-faded">I am a dedicated web developer who graduated from Loyola University with a major in Business Marketing in 2011. An unique individual with a real passion for creating all types of applications using new technologies and learning new techniques. I enjoy
					what I do, and I also have a background in graphic design. I also enjoy basketball, anime, video games, football, collecting sneakers, along with skateboarding.</p>
			</div>
		</div>
	</div>
</section>
