<section class="p-0" id="portfolio">
	<div class="cd-3d-portfolio">
		<nav class="cd-3d-portfolio-navigation">
			<div class="cd-wrapper">
				<h1>Recent Works</h1>
				<p>Check out some of my latest projects</p>
			</div>
		</nav>
		<div class="col-md-12 portfolio__item">
			<div class="image">
				<a href="http://www.kamhay.herokuapp.com">
					<img src="/img/kamhay.png" alt="Home page for kameron's website">
				</a>
			</div>
			<h1>Kameron Hay</h1>
			<h3>Personal site for a friend, I utilized Rails and PostgresQL and heroku to deploy this site.
				This site is very special to me because it was the first site where i learned to compress and save
				images on a static site using paperclip. I also utilized CKEditor for a WYSIWIG for creating blog posts.
				Kameron is a talented and enthusiastic blog writer for popular magazines, such as Complex.
				Click the image to check out the site.
				<br />
				<br />
				Technologies:
				<ul>
					<li>Rails</li>
					<li>Ruby</li>
					<li>PostgresQL</li>
				</ul>
			</h3>
		</div>
		<div class="col-md-12 portfolio__item">
			<div class="image">
				<a href="http://www.bsixb.com" target="_blank">
					<img src="/img/bsixb.png" alt="Image for bsixb.com">
				</a>
			</div>
			<h1>BSixB</h1>
			<h3>
				E-Commerce Site using rails and spree and deployed using heroku. BsixB
				is a clothing line in which they focus on basketball apparel and it
				features a fully-customized CMS that allows the client to customize the site,
				upload products, change shipping, and customize the features of the site to his liking.
				<br />
				<br />
				Technologies:
				<ul>
					<li>Rails</li>
					<li>Ruby</li>
					<li>PostgresQL</li>
				</ul>
			</h3>
		</div>
		<div class="col-md-12 portfolio__item">
			<div class="image">
				<a href="http://www.grndvw.com" target="_blank">
					<img src="/img/grndvw.png" alt="Image for grndvw.com">
				</a>
			</div>
			<h1>GRNDVW</h1>
			<h3>
				Static site using rails and deployed using heroku as well, I was instructed by a client to make a static site that took emails
				for a mailing list. This site was designed by the user and it didn't take me long to create.
				<br />
				<br />
				Technologies:
				<ul>
					<li>Rails</li>
					<li>Ruby</li>
					<li>PostgresQL</li>
				</ul>
			</h3>
		</div>
		<div class="col-md-12 portfolio__item">
			<div class="image">
				<a href="http://www.grolens.com" target="_blank">
					<img src="/img/grolens.png" alt="Image for Grolens.com">
				</a>
			</div>
			<h1>GroLens</h1>
			<h3>
				I saved the best for last. Grolens.com is a website I worked on with a few of my classmates in coding cohort. We used React, Redux, MongoDB, and AWS(Elastic Beanstalk) to deploy this product.
				With the legalization of marijuana in the largest producing state, me and a couple of other classmates saw an opportunity to take advantage of the legal changes.
				Focused on the grower, this application allows users to manage all of their plants, team work-flow processes, and expenses all on one website.
				<br />
				<br />
				Technologies:
				<ul>
					<li>React & Redux</li>
					<li>MongoDB</li>
					<li>AWS (Elastic Beanstalk)</li>
				</ul>
			</h3>
		</div>
	</div>
</section>
