<div class="stem-wrapper">
	<div class="stem"></div>
	<div class="stem-background"></div>
</div>

<div class="section main-content">
	<div class="section-inner">

		<div class="stem-padding"></div>

		<div class="post-wrapper">

			<article class="post grad-icon">
				<div class="stem-overlay">
					<div class="icon"></div>
					<div class="stem-mask"></div>
				</div>

				<div class="post-content">
					<p class="meta">In 2011....</p>
					<h2 class="post-title">Enrolled in Loyola University New Orleans</h2>
					<div class="entry-content">
						<p>Began my educational journey at Loyola University New Orleans studying business marketing.</p>
					</div>
				</div>
			</article>

			<article class="post graphic-design-icon" data-stem-color="green">
				<div class="stem-overlay">
					<div class="icon"></div>
					<div class="stem-mask"></div>
				</div>

				<div class="post-content">
					<p class="meta">In 2011...</p>
					<h2 class="post-title">Started learning graphic design</h2>
					<div class="entry-content">
						<p>In my same year as entering college, I decided that I would begin teaching myself other skills other than what was taught in class. I was always interested in graphic design and I began the journey to learn all I can.</p>
					</div>
				</div>
			</article>

			<article class="post bitbucket-icon" data-stem-color="yellow">
				<div class="stem-overlay">
					<div class="icon"></div>
					<div class="stem-mask"></div>
				</div>

				<div class="post-content">
					<p class="meta">In 2014..</p>
					<h2 class="post-title">Began my journey of web development</h2>
					<div class="entry-content">
						<p>In 2014, entering my junior year I had a good number of graphic design clients. One of my clients asked me if I can make websites, and I told the client that I can learn. From that moment on I began to learn how to code.</p>
					</div>
				</div>
			</article>

			<article class="post grad-icon" data-stem-color="white">
				<div class="stem-overlay">
					<div class="icon"></div>
					<div class="stem-mask"></div>
				</div>

				<div class="post-content">
					<p class="meta">In 2015</p>
					<h2 class="post-title">Graduated from Loyola University New Orleans</h2>
					<div class="entry-content">
						<p>I graduated from Loyola University New Orleans with a degree in Business Marketing. From then on I began to take coding more serious because I was able to do more research and learn about all the possible applications that one can make with software.</p>
					</div>
				</div>
			</article>

			<article class="post bitbucket-icon">
				<div class="stem-overlay">
					<div class="icon"></div>
					<div class="stem-mask"></div>
				</div>

				<div class="post-content">
					<p class="meta">Jan. 2017 - Aug. 2017</p>
					<h2 class="post-title">Attended UCLA Extension Fullstack Coding Bootcamp</h2>
					<div class="entry-content">
						<p>While learning coding on my own from various sources, I was able to stumble upon UCLA Extension and I signed up for the 6-month fullstack javascript course. I was able to take my coding aspirations to a higher level at this bootcamp and learn a
							ton about front-end, back-end and various devOps concepts.</p>
					</div>
				</div>
			</article>
			<article class="post bitbucket-icon">
				<div class="stem-overlay">
					<div class="icon"></div>
					<div class="stem-mask"></div>
				</div>

				<div class="post-content">
					<p class="meta">Aug. 2017 - Present</p>
					<h2 class="post-title">Freelance Web Designer</h2>
					<div class="entry-content">
						<p>While learning new techniques, I have decided to put my destiny in my own hands. I began to reach out to clients and create frameworks to showcase the skills I have acquired over the years. Scroll Down to check out some my favorite work.</p>
					</div>
				</div>
			</article>
		</div>
		<!-- post-wrapper -->

		<a href="#about">
			<div class="single-stem-icon scroll-to-top trigger-scroll-to-top"></div>
		</a>

	</div>
	<!-- section-inner -->
</div>
