<body>
	<section id="header" class="appear"></section>
	<div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
		<div class="container-fluid">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="fa fa-bars color-white"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">Michael Olie
					</a></h1>
				</div>
				<nav class="shift">
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
							<li class="active"><a href="#section-featured">Home</a></li>
							<li><a href="#section-about">Work</a></li>
							<li><a href="#section-works">About</a></li>
							<li><a href="#section-contact">Contact</a></li>
						</ul>
					</div>
				</nav>
				<!--/.navbar-collapse -->
			</div>
		</div>
	</div>

	<section id="section-featured" class="featured col-md-12 col-sm-12 col-xs-12 appear">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-6 col-md-offset-3">

					<div>
						<h1 class="autotext">
					  	<a class="typewrite" data-period="2000" data-type='[ "Hello, I am Michael Olie", "I am a developer", "Chill Guy", "Check out the site", "Let me know how you feel about it." ]'>
					    	<span class="wrap"></span>
					  	</a>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- spacer section:testimonial -->

	<!-- about -->
	<section class="section clearfix">
		<div id="section-about" class="container appear" id="work">

			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-lg-6 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">Work</h2>

					</div>
				</div>
			</div>

			<div class="row align-center mar-bot40">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<h1>Rombu</h1>
					<h5>Production Company</h5>
				</div>
				<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<p class="work-info">Lorem Khaled Ipsum is a major key to success. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. We don’t see them, we will never see them. A major key, never panic. Don’t panic, when it gets crazy and rough,
						don’t panic, stay calm. You smart, you loyal, you a genius. Celebrate success right, the only way, apple. Special cloth alert. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail.</p>
				</div>
			</div>
			<div class="row align-center mar-bot40">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<h1>Rombu</h1>
					<h5>Production Company</h5>
				</div>
				<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<p class="work-info">Lorem Khaled Ipsum is a major key to success. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. We don’t see them, we will never see them. A major key, never panic. Don’t panic, when it gets crazy and rough,
						don’t panic, stay calm. You smart, you loyal, you a genius. Celebrate success right, the only way, apple. Special cloth alert. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail.</p>
				</div>
			</div>
			<div class="row align-center mar-bot40">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<h1>Rombu</h1>
					<h5>Production Company</h5>
				</div>
				<div class="col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-3 col-lg-6 col-md-6 col-sm-6 col-xs-6">
					<p class="work-info">Lorem Khaled Ipsum is a major key to success. The ladies always say Khaled you smell good, I use no cologne. Cocoa butter is the key. We don’t see them, we will never see them. A major key, never panic. Don’t panic, when it gets crazy and rough,
						don’t panic, stay calm. You smart, you loyal, you a genius. Celebrate success right, the only way, apple. Special cloth alert. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- /about -->

	<!-- spacer section:stats -->
	<section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="align-center pad-top40 pad-bot40">
				<blockquote class="bigquote color-white">Talk is cheap. Show me the code.</blockquote>
				<p class="color-white">Linus Torvalds</p>
			</div>
		</div>
	</section>

	<!-- section works -->
	<section id="section-works" class="section appear clearfix" data-stellar-background-ratio="0.6">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6 col-sm-9 col-xs-9">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">Who is Michael Olie</h2>
						<p id="bio">I am a dedicated web developer who graduated from Loyola University with a major in Business Marketing in 2011. A web developer with a real passion for creating new technologies and learning new techniques. I enjoy what I do, and I also have a background in graphic design. I also enjoy basketball, anime, video games, football, collecting sneakers, and skateboarding</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- contact -->
	<section id="section-contact" class="section appear clearfix">
		<div class="container">

			<div class="row mar-bot40">
				<div class="col-md-offset-3 col-md-6">
					<div class="section-header">
						<h2 class="section-heading animated" data-animation="bounceInUp">Hit Me Up</h2>
						<p>I don't bite, just fill out this form and I will get back to you ASAP :)</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h3>email:</h3><p>aolie94@gmail.com</p>
					<h3>git:</h3><p>www.github.com/SwiftMike</p>
					<a href="#"><h4>Click here to see my resume</h4></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="cform" id="contact-form">
						<div id="sendmessage">
							Your message has been sent. Thank you!
						</div>
						<div id="errormessage"></div>
						<form action="" method="post" role="form" class="contactForm">
							<div class="form-group">
								<label for="name">Your Name</label>
								<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<label for="email">Your Email</label>
								<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<label for="subject">Subject</label>
								<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
								<div class="validation"></div>
							</div>
							<div class="form-group">
								<label for="message">Message</label>
								<textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
								<div class="validation"></div>
							</div>

							<button type="submit" class="btn btn-theme pull-left">SEND MESSAGE</button>
						</form>

					</div>
				</div>
				<!-- ./span12 -->
			</div>

		</div>
	</section>

	<section id="footer" class="section footer">
		<div class="container">
			<div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
				<div class="col-sm-12 align-center">
					<ul class="social-network social-circle">
						<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
						<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="row align-center copyright">
				<div class="col-sm-12">
					<p>Copyright &copy; Amoeba</p>
					<div class="credits">
						<!--
                                All the links in the footer should remain intact.
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Amoeba
                            -->
						<a href="https://bootstrapmade.com/">Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
					</div>
				</div>
			</div>
		</div>

	</section>
	<a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
</body>
